
hr {
  border-top: 1px solid green;
  margin-top: 10px;
  margin-bottom: 10px;
}

th {
  white-space: nowrap;
  background-color: #ebf1de;
}

td {
  white-space: nowrap;
}

select {
  padding: 3px 0px;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pageHead {
  background-color: #088A29;
  color: #ffffff;
  font-size: large;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.inputName {
  background-color: #088A29;
  color: #ffffff;
  padding: 2px 0px;
  text-align: center;
  white-space: nowrap;
}
